/* :root {
    --transition: .2s;
    --transition-func: ease-in-out;
    --base: #f6f2ff;
    --hover: #f1ebff;
    --text: #420039;
    --darker: #932f6d;
    --lighter: #e07be0;
    --lightest: #dcccff;
    --correct: #55c59e;
    --incorrect: #da3535;
} */

:root {
    --transition: 0.2s;
    --transition-func: ease-in-out;
    --base: #f9f7f3;
    --hover: #eddea4;
    --hover-light: #f2e7bb;
    --text: #420039;
    --darker: #cdb4db;
    --lighter: #ffafcc;
    --lightest: #ffc8dd;
    --sky: #bde0fe;
    --sky-darker: #a2d2ff;
    --correct: #55c59e;
    --incorrect: #da3535;
}

* {
    font-family: "PT Sans", sans-serif, Arial;
    font-weight: 400;
    font-style: normal;
    color: var(--text);
}

html {
    box-sizing: content-box;
    height: 100%;
    font-family: "PT Sans", sans-serif, Arial;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    color: var(--text);
}

img {
    max-width: 100%;
}

body {
    background-color: var(--base);
    color: var(--text);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
}

main {
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: left;
    justify-content: top;
}

h1 {
    font-family: "PT Sans", sans-serif, Arial;
    font-size: 32px;
    font-weight: 400;
    font-style: normal;
    color: var(--text);
}

h2 {
    font-family: "PT Sans", sans-serif, Arial;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    color: var(--text);
}

em {
    font-family: "Unbounded", sans-serif, Arial;
    font-weight: 700;
    color: var(--text);
    font-weight: 700;
    font-style: normal;
    font-optical-sizing: auto;
    font-size: 64px;
    margin: 1rem;
    letter-spacing: -1.5px;
}

.navbar a {
    font-family: "Unbounded", sans-serif, Arial !important;
    font-size: 24px !important;
    font-weight: 400 !important;
    font-style: normal !important;
    color: var(--text) !important;
}

.navbar-nav > li > .dropdown-menu {
    background-image: linear-gradient(
        var(--hover) 0%,
        var(--lightest) 30%,
        var(--sky) 75%
    ) !important;
}

.nb {
    background-color: var(--hover-light) !important;
    border-bottom: solid 2px var(--lightest);
}

.nb .navbar-brand,
.nb .navbar-text {
    font-family: "PT Sans", sans-serif, Arial !important;
    font-size: 24px !important;
    font-weight: 400 !important;
    font-style: normal !important;
    color: var(--text) !important;
}

.cardWrap {
    -webkit-transform: perspective(800px);
    transform: perspective(800px);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    cursor: pointer;
}

.cardWrap:hover .card-body {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.cardWrap:hover .card-body p {
    opacity: 1;
}

.cardWrap:hover .card-body,
.cardWrap:hover .card-body p {
    -webkit-transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.cardWrap:hover .card-body:after {
    -webkit-transition: 5s cubic-bezier(0.23, 1, 0.32, 1);
    transition: 5s cubic-bezier(0.23, 1, 0.32, 1);
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.carousel .carousel-item {
    height: 100vh;
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 90vh;
}

.carousel-item h5 {
    font-family: "Unbounded", sans-serif, Arial;
    font-weight: 700;
    color: var(--base);
    font-weight: 700;
    font-style: normal;
    font-optical-sizing: auto;
    font-size: 36px;
}

.carousel-item p {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    font-family: "PT Sans", sans-serif, Arial;
    font-weight: 400;
    color: var(--base);
    font-weight: 700;
    font-style: normal;
    font-optical-sizing: auto;
    font-size: 28px;
}

.carousel-caption {
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
}

.cardWrap:hover .card {
    -webkit-transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1),
        box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1),
        box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
    box-shadow: rgba(255, 255, 255, 0.2) 0 0 40px 5px, white 0 0 0 1px,
        rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px,
        inset white 0 0 0 6px;
}

.profile {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 50%;
    margin: 1%;
    border: 0.1rem solid var(--sky);
}
.title {
    font-family: "Unbounded", sans-serif, Arial;
    font-weight: 700;
    color: var(--text);
    font-weight: 700;
    font-style: normal;
    font-optical-sizing: auto;
    font-size: 28px;
}

.local {
    font-family: "PT Sans", sans-serif, Arial;
    font-weight: 600;
    font-size: 24px;
    font-style: italic;
    color: var(--text);
}

.dec {
    padding: 0;
    margin: 0;
    border-left: 0.2rem solid var(--lightest);
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 75vh;
    position: relative;
}

.box {
    background-image: linear-gradient(
        45deg,
        var(--darker) 0%,
        var(--lightest) 50%,
        var(--lighter) 100%
    );
    border-color: transparent;
    border-radius: 30px;
}

.center-screen {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    min-height: 100%;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.selectbutton {
    width: 15%;
    height: 10%;
    background-color: var(--base);
    border-color: transparent;
    border-radius: 20px;
    font-family: "PT Sans", sans-serif, Arial;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    color: var(--text);
    margin: 2rem;
}

.selectbutton:hover {
    background-color: var(--hover);
    color: var(--text);
}

.continent {
    background: -webkit-linear-gradient(
        45deg,
        var(--darker) 0%,
        var(--lightest) 50%,
        var(--lighter) 100%
    );
    margin-bottom: 2%;
    margin-top: 4%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.country-card {
    background-image: linear-gradient(
        45deg,
        var(--hover) 0%,
        var(--lightest) 100%
    );
}

.navbar-brand {
    height: auto;
}

#profile-top {
    position: fixed;
    top: 5vh;
    right: 50;
}

#profile-nb {
    margin: 0;
    padding: 0;
}

#CS50-mark {
    color: var(--hover);
    position: fixed;
    bottom: 8vh;
    left: 5vw;
}
